<div class="jumbo">
  <div class="right tomster"></div>
  <h2>About Me page</h2>
  <p>
    This is a about me page for ember quick start.
  </p>
</div>
{{#link-to 'contact' class="button"}}
    Contact Us
  {{/link-to}}